@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: hsl(235, 21%, 11%);
}
main {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 25px;
}
/* main .buttonHideComplete {
  display: flex;
  padding: 0 25px;
  margin-bottom: 25px;
  gap: 25px;
}
main .buttonHideComplete button {
  height: 35px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
  background: transparent;
  border: #fff 3px solid;
  color: #fff;
  transition: all ease 0.3s;
}
main .buttonHideComplete button:hover {
  transform: scale(1.1);
  border: aqua 3px solid;
  color: aqua;
} */
.header {
  letter-spacing: 10px;
  color: aliceblue;
}
main .cardInputArea {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  width: 100%;
}

main .cardInputArea input {
  width: inherit;
  height: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 15px;
  margin: 15px 15px 15px 0;
}

main .cardInputArea input:focus {
  outline: none;
}

main .cardInputArea button {
  background-color: aqua;
  height: 35px;
  width: 65px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
main .cardInputArea button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}
main .taskList {
  padding: 0 15px;
  height: 35px;
  width: 100%;
}

main .taskList ul .taskRow {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 15px;
  padding: 3px 10px;
}
main .taskList ul .taskRow li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 3px 10px;
  width: 40%;
  cursor: pointer;
  background-color: #fff;
  list-style-type: none;
  border-radius: 5px;
  cursor: pointer;
}
main .taskList ul .taskRow .options span {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  transform: scale(0.9);
}
main .taskList ul .taskRow .options span:hover {
  transform: scale(1.5);
}
main .taskList ul .taskRowFinally {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-bottom: 15px;
  padding: 3px 10px;
}
main .taskList ul .taskRowFinally li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 3px 10px;
  width: 40%;
  background-color: rgb(228, 228, 228);
  opacity: 0.5;
  list-style-type: none;
  border-radius: 5px;
  cursor: pointer;
  list-style-type: none;
}
main .taskList ul .taskRowFinally .options span {
  margin: 0 10px;
  color: #fff;
  cursor: pointer;
  transform: scale(0.9);
}

.finallyTask {
  color: green;
  opacity: 0.5;
  text-decoration: line-through;
}
main .taskList ul .taskRow button {
  cursor: pointer;
}
