@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --darkBack: hsl(235, 24%, 19%);
  --lightBack: hsl(0, 0%, 98%);
}
